
$red = #ba5858
$orange = rgb(219,175,69)
$green = rgb(164,219,69)
$blue = rgb(69,145,219)
$violet = rgb(145,113,182)

li
  list-style:none

body
  background $red
  width:100%
  height:100%
  font-family: "Lato" , sans-serif
  color:#eaeaea
  animation-duration: 15s;
  animation-name: colorCycle;
  animation-iteration-count: infinite;
  padding:0
  margin:0






@keyframes colorCycle
  20%
    background $red
  40%
    background $orange
  60%
    background $green
  80%
    background $blue
  100%
    background $voilet



.content-container
  margin:150px 0 60px 0
  padding: 30px 0 30px 20px
  opacity:0
  visibility:hidden
  width:100%
  color: #999999
  background white

.view
  > div
    max-width:720px


headerWeight = 600

h1
  //text-transform uppercase
  font-size 40px
  font-weight:headerWeight

  padding-bottom:20px

h2
  //text-transform uppercase
  font-size 32px
  font-weight:headerWeight

  padding-bottom:18px

h3
  //text-transform uppercase
  font-size 24px
  font-weight:headerWeight

  padding-bottom:18px

h4
  //text-transform uppercase
  font-size 20px
  font-weight:headerWeight
  padding-bottom:18px

pre
  padding:3px
  background: #e7e7e7
  border-radius 3px
  margin:0 30px 10px 0
  border:1px solid #d0d0d0


  code
    margin: 0
    padding: 0
    background-color: transparent
    border: none
    word-wrap: normal
    max-width: initial
    display: inline
    overflow: initial
    line-height: inherit
    font-family:Courier, monospace
    font-size:14px


ul.pretty-list

  > li
    padding-left:10px
    padding-bottom:10px
    font-size:16px


    &:first-child
      padding-top:10px


ul.plain-list
  padding-left:30px
  padding-bottom:10px


  > li

    letter-spacing:.5pt
    padding-bottom:3px
    list-style:disc




p
  padding-left:2px
  padding-bottom:10px

.w960
  width:960px
  margin-left: auto
  margin-right: auto












.xdebug-var-dump
  background:white
  position:absolute
  width:100%
  height:auto
  color black
  z-index:9000
  top:0
  left:0
  font-size:14px
  font-weight:400
  letter-spacing:0px
  padding:20px 0







