
$red = #ba5858
$orange = rgb(219,175,69)
$green = rgb(164,219,69)
$blue = rgb(69,145,219)
$violet = rgb(145i,113,182)

li
  list-style:none

body
  background $red
  width:100%
  height:100%
  font-family: "Lato" , sans-serif
  color:#eaeaea
  animation-duration: 15s;
  animation-name: colorCycle;
  animation-iteration-count: infinite;
  padding:0
  margin:0




@keyframes colorCycle
  20%
    background $red
  40%
    background $orange
  60%
    background $green
  80%
    background $blue
  100%
    background $voilet



.content-container
  padding: 150px 0 0 20px
  opacity:0
  visibility:hidden


h1
  text-transform uppercase
  font-size 80px
  font-weight:100
  letter-spacing:-4.2pt


p
  padding:5px
  width:720px


.xdebug-var-dump
  background:white
  position:absolute
  width:100%
  height:auto
  color black
  z-index:9000
  top:0
  left:0
  font-size:14px
  font-weight:400
  letter-spacing:0px
  padding:20px 0







