

nav
  display block
  width:100%
  height:55px
  margin 5px 0 0 0
  ul
    li
      padding:0px 10px 0px 10px
      text-align center
      float:left
      font-size:35px
      color:#eaeaea
      font-weight:200
      text-transform:uppercase
      letter-spacing:-2.2pt
      a
        text-decoration:none
        color:white