lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

.idea/
maya/
ignored_assets/
node_modules/
bower_components/
src/vendor/js/
src/vendor/css/
app/templates/global/scripts.twig
app/js/
app/css/
app/images/
vendor/

psd/
*.psd

npm-debug.log

*.sublime-project
*.sublime-workspace

.DS_Store

composer.lock