lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results


maya/
ignored_assets/
node_modules/
bower_components/
src/vendor/js/
src/vendor/css/
dist/
dev/

psd/
*.psd

npm-debug.log

*.sublime-project
*.sublime-workspace

.DS_Store

