
{% extends ajax == false ? "_main.twig" : "../_ajax.twig" %}

{% block content %}
    <h1>{{ name }}</h1>
    <p>Cras vitae interdum turpis, aliquet tempor eros. Vivamus vitae convallis sapien. Vestibulum posuere quis tellus quis aliquet. Vivamus nisi tortor, hendrerit sed molestie at, pellentesque eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas vulputate semper feugiat. Etiam tincidunt ultricies convallis. Etiam venenatis in purus eget aliquam. Pellentesque lacus nulla, fringilla eget auctor vel, fringilla id lectus. Ut luctus nibh diam, vitae blandit dui dignissim a. Nam elementum felis ut eros iaculis consequat.</p>

{% endblock %}
