

{% extends ajax == false ? "_main.twig" : "../../_ajax.twig" %}




{% block content %}

    <h1>{{ name }}</h1>
    <ul>
        {% for figure in content.work %}
            <li class="box" id="{{ entry.id }}">

            </li>
        {% endfor %}
    </ul>
{% endblock %}
