<!DOCTYPE html>
<html>
<head>
    <title>Poop Sauce</title>
    {% include "global/_scripts.twig" %}
</head>
<body>
{% include "global/_navigation.twig" %}
{% block content  %}
{% endblock %}
</body>
</html>