<!DOCTYPE html>
<html>
<head>
    <title>Poop Sauce</title>
    {% include "global/_scripts.twig" %}
</head>
<body>
{% include "global/_navigation.twig" %}
<div class="content" id="{% filter lower %}{{ content.name }}{% endfilter %}">
    {% block content  %}
    {% endblock %}
</div>

</body>
</html>