<!DOCTYPE html>
<html>
<head>
    <title>Poop Sauce</title>
    {% include "global/_scripts.twig" %}
</head>
<body>
{% include "global/_navigation.twig" %}
<div id="content" class="content-container">
    <div id="{{ content.id }}">
    {% block content  %}
    {% endblock %}
    </div>
</div>

</body>
</html>