<!DOCTYPE html>
<html>
<head>
    <title>Hybrid SPA</title>
    {% include "global/_scripts.twig" %}
</head>
<body>
{% include "global/_navigation.twig" %}
<div class="content-container" id="content" >
    <div class="w960 view">
        <div id="{{ content.id }}">
            {% block content  %}
            {% endblock %}
        </div>
    </div>
</div>


</body>
</html>